---
layout: page
title: Categories
permalink: /categories/
---

{% assign categories_sorted = site.categories | sort %}
<div class="category-list">
  {% for category in categories_sorted %}
    <div class="category-group" id="{{ category[0] | slugify }}">
      <h2 class="category-group-title">{{ category[0] }}</h2>
      <ul class="post-list-by-category">
        {% for post in category[1] %}
          <li class="post-item">
            <span class="post-item-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>