---
layout: page
title: Tags
permalink: /tags/
---

{% assign tags_sorted = site.tags | sort %}
<div class="tag-list">
  {% for tag in tags_sorted %}
    <div class="tag-group" id="{{ tag[0] | slugify }}">
      <h2 class="tag-group-title">{{ tag[0] }}</h2>
      <ul class="post-list-by-tag">
        {% for post in tag[1] %}
          <li class="post-item">
            <span class="post-item-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>